body {
    background-color: rgba(0,183,255, 1);
    background-image: url("./images/wood.png");
}
img {
    max-width: 60px;
}
.navbar {
    background-image: url("./images/wood2.png");
    color: white;
    font-weight: bold;
    font-size: large;
}
.white {
    color: white;
}